<!-- views/cartDetail.handlebars -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalles del Carrito</title>
</head>
<body>
  <h1>Detalles del Carrito</h1>
  {{#if cart}}
    <ul>
      {{#each cart.products}}
      <li>
        <strong>{{this.productId.title}}</strong><br>
        Descripción: {{this.productId.description}}<br>
        Precio: {{this.productId.price}}<br>
        Cantidad: {{this.quantity}}<br>
        <hr>
      </li>
      {{/each}}
    </ul>
  {{else if carts}}
    {{#each carts}}
      <h3>Carrito ID: {{this._id}}</h3>
      <ul>
        {{#each this.products}}
        <li>
          <strong>{{this.productId.title}}</strong><br>
          Descripción: {{this.productId.description}}<br>
          Precio: {{this.productId.price}}<br>
          Cantidad: {{this.quantity}}<br>
          <hr>
        </li>
        {{/each}}
      </ul>
    {{/each}}
  {{else}}
    <p>No hay carritos disponibles.</p>
  {{/if}}
</body>
</html>

