<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
</head>
<body>
  <h1>Lista de Productos</h1>
  <ul>
    {{#each products}}
    <li>
      {{this.name}} - {{this.price}}
      <a href="/products/{{this._id}}">Ver detalles</a>
      <form action="/api/carts/:cid/product/{{this._id}}" method="POST">
        <button type="submit">Agregar al carrito</button>
      </form>
    </li>
    {{/each}}
  </ul>
  <div>
    {{#if pagination.hasPrevPage}}
    <a href="?page={{pagination.prevPage}}">Anterior</a>
    {{/if}}
    {{#if pagination.hasNextPage}}
    <a href="?page={{pagination.nextPage}}">Siguiente</a>
    {{/if}}
  </div>
</body>
</html>
