<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
</head>
<body>
  <h1>Lista de Productos</h1>
  {{#each products}}
    <div>
      <h2>{{this.name}}</h2>
      <p>Precio: ${{this.price}}</p>
      <p>Categoría: {{this.category}}</p>
      <button class="add-to-cart" data-product-id="{{this._id}}">Agregar al carrito</button>
    </div>
  {{/each}}
  <div>
    {{#if (gt currentPage 1)}}
      <a href="?page={{subtract currentPage 1}}&limit={{limit}}">Anterior</a>
    {{/if}}
    Página {{currentPage}} de {{totalPages}}
    {{#if (lt currentPage totalPages)}}
      <a href="?page={{add currentPage 1}}&limit={{limit}}">Siguiente</a>
    {{/if}}
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', async () => {
      // Limpiar cualquier cartId anterior
      localStorage.removeItem('cartId');

      let cartId = localStorage.getItem('cartId');

      if (!cartId) {
        // Crear un nuevo carrito si no existe
        try {
          const response = await fetch('/api/carts', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            }
          });
          const newCart = await response.json();
          cartId = newCart._id;
          localStorage.setItem('cartId', cartId);
          console.log('Nuevo carrito creado:', cartId);
        } catch (error) {
          console.error('Error al crear el carrito:', error);
          return;
        }
      } else {
        console.log('Carrito existente utilizado:', cartId);
      }

      const buttons = document.querySelectorAll('.add-to-cart');
      buttons.forEach(button => {
        button.addEventListener('click', async (event) => {
          const productId = event.target.dataset.productId;
          try {
            const response = await fetch(`/api/carts/add`, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({ cartId, productId, quantity: 1 })
            });

            if (response.ok) {
              alert('Producto agregado al carrito');
            } else {
              alert('Error al agregar el producto al carrito');
            }
          } catch (error) {
            console.error('Error:', error);
            alert('Error al agregar el producto al carrito');
          }
        });
      });
    });
  </script>
</body>
</html>
